# Generar con: python -c "from django.core.management.utils import get_random_secret_key; print(get_random_secret_key())"
SECRET_KEY=cambiar-por-una-clave-real

# En producción siempre False
DEBUG=False

# Dominios permitidos (separados por coma)
ALLOWED_HOSTS=tu-usuario.pythonanywhere.com
